.loader {
  border: 10px solid rgb(196, 208, 235);
  border-top: 10px solid #3e72ea;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 1rem 5rem;
  min-height: 85vh;
  text-align: center;
}

nav {
  background-color: #669d31;
  padding: 0.5rem;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 200px;
}
nav .logo {
  width: 40px;
  height: 40px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  transition: all 0.5s ease-in-out;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-icon span {
  font-size: 0.8rem;
  color: #f3f3f3;
}

nav a {
  padding: 0;
  transition: all 0.2s ease-in-out;
  color: white;
  font-weight: 500;
}

nav a:hover {
  color: #f3f3f3;
}

.active {
  font-weight: bold;
  font-size: 1.1rem;
}

.avatar {
  width: 25px;
  border-radius: 50%;
}

/*nav ends*/
.signin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.social-sigin {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.signin-toast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.signin-toast span {
  margin-left: 0.5rem;
}

.usernameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usernameForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  padding: 0.5rem;
  margin: 0.5rem;
  outline: none;
}
.usernameForm img {
  border-radius: 50%;
}

/* scrollable list */
.scroll-list {
  padding: 0.5rem 0;
  display: flex;
  overflow-x: scroll;
  margin: 1rem 0;
  display: none;
}

.scroll-list .img-container {
  height: 15em;
  padding: 0;
}
.scroll-list .img-container img {
  margin-left: 0.5rem;
  height: 100%;
}

/* scrollable list  Ends*/

.bgg-username-input{
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid .game-container {
  max-width: 20em;
  word-wrap: break-word;
  margin: 0 auto;
}
.list .game-container {
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  margin-bottom: 1rem;
}

.grid .img-container {
  width: 10em;
  margin: 0 auto;
}
.list .img-container {
  width: 10em;
  margin-right: 1rem;
}

.grid img,
.list img {
  max-width: 100%;
  height: 10em;
}

.grid h3,
.list h3 {
  margin: 0.5rem;
  font-size: 0.8rem;
}
.grid span,
.list span {
  font-size: 0.8rem;
}
.filters {
  margin-block: 1rem;
}
.tag {
  display: inline-block;
  margin: 0 0.35rem;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  font-size:0.8rem ;
}

.green {
  background-color: rgb(63, 150, 63);
}
.brown {
  background-color: brown;
}
.pink {
  background-color: rgb(248, 167, 181);
}
.red {
  background-color: red;
}
.blue {
  background-color: rgb(97, 203, 238);
}
.yellow {
  background-color: yellow;
  color: #333;
}
.checked {
  box-shadow: 1px 1px 5px rgb(83, 83, 83);
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .scroll-list::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .nav-links {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0;
    background-color: #669d31;
  }
  #burger-icon-container {
    display: flex;
    margin-left: auto;
  }
  .scroll-list{display: flex}
  .grid, .list, .grid-list-icon {
    display: none;
  }
  footer {
    display: none;
  }
}
