@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,500;1,900&display=swap');
:root {
  color: #333;
  background-color: #ffffff;
}
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 300;
  text-decoration: inherit;
  border-radius: 0.5rem;
}

button{
  padding: 0.5rem 1rem;
  color: #669d31;
  border: 2px #669d31 solid;
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover, button:focus, button:active{
  background: #669d31;
  color: #ffff;
}

